.jumbotron {
    padding-top: 5rem;
    background-color: #dfedff;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
}

#portfolio {
    background-color: #dfedff;
}

#about {
    padding-top: 5rem;
}

#portfolio {
    padding-top: 5rem;
}